 /*  버튼  */
    
    .buttons 
    {
    /* margin: 10%; */
       text-align: center;
   }
   
   .btn-hover 
   {
       width: 30%;
       font-size: 12px;
       font-weight: 600;
       color: #fff;
       cursor: pointer;
       /* margin: 10px; */
       height: 30px;
       text-align:center;
       border: none;
       background-size: 300% 100%;
   
       border-radius: 10px;
       moz-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
       -webkit-transition: all .4s ease-in-out;
       transition: all .4s ease-in-out;
   }
   
   .btn-hover:hover 
   {
       background-position: 100% 0;
       moz-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
       -webkit-transition: all .4s ease-in-out;
       transition: all .4s ease-in-out;
   }
   .apply
   {
   		width: 100%;
   }
   
   .btn-hover:focus 
   {
       outline: none;
   }
    .btn-hover.color-9 
    {
       background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
       /* box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75); */
   }
   
   .fullbtn
   {
       width: 100%;
       font-size: 12px;
       font-weight: 600;
       color: gray;
       cursor: pointer;
       height: 30px;
       text-align:center;
       border: none;
       background-size: 300% 100%;
   
       border-radius: 10px;
      
   }
   
    /* 멤버박스 */
    .project-allmember
    {
       width: 100%;
       height: 100%;
       
    }
    
    .member
    {
       margin: 5px;
       width: 100%;
       height: 20%;
       /* float: left;  */
       padding: 10px;
       border-radius: 12px;
    }
    
    /* 탭박스 */
    /* .container-box{
     width: 500px;
     margin: 0 auto;
   } */
   
   ul.tabs{
     margin: 0px;
     padding: 0px;
     list-style: none;
     
   }
   ul.tabs li{
     background-color: #3498db;
     /* background: none; */
     color: white;
     
     display: inline-block;
     padding: 10px 15px;
     cursor: pointer;
     border-radius: 3px;
   }
   
   ul.tabs li.current{
     background: none;
     color: black;
     font-weight: bold;
     
   }
   
   .tab-content{
     display: none;
     /* background: #EEF2FF; */
     padding: 10px;
   }
   
   .tab-content.current{
     display: inherit;
   }
   
   .news
   {
      border: 5px solid #3498db;
      border-radius: 20px;
      margin: 10px;
      padding: 20px;
   }
   
   .blacklist
   {
      display: flex;
      /* gap: 30px; */
   }
   .column
   {
      /* margin-left:10%; */
      margin-left: 10px;
      margin-right: 10px;
      flex-basis: 40%;
      background: #fff;
      border: 3px solid #3498db;
      min-height: 60vh;
      padding: 5px;
      border-radius: 10px;
   }

   .column h1
   {
      text-align: center;
      font-size: 22px;
   }

/* 
   .list-group-item 
   {
      background: #fff;
      margin: 20px;
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;
      
   }
 */
   
   #sortable1, #sortable2 {
      list-style-type: none;
      margin: 0;
      float: left;
      margin-right: 10px;
      background: #fff;
      /* border: 2px solid #3498db; */
      padding: 5px;
      width: 100%;
      height: 80%;
   }

   #sortable1 li {
      
      
      background: #b5c1dc57;
      border: 5px solid #b5c1dc57;
      margin: 20px;
      padding: 20px;
      border-radius: 30px;
      cursor: pointer;
      text-align: center;
   }
   #sortable2 li{
      background: #b5c1dc57;
      border: 5px solid #114357;
      margin: 20px;
      padding: 20px;
      border-radius: 30px;
      cursor: pointer;
      text-align: center;
      font-weight: bolder;
   }
   
   .apply-reason
   {
      margin: 10px;
      border: 5px solid #b5c1dc57;
      border-radius: 10px;
      padding: 20px;
      text-align: left;
      font-size: small;
      font-weight: bold;
      background-color: #b5c1dc57;
      
   }
   
   /* .reason
   {
      text-align: left;
      font-size: small;
      font-weight: bold;
      background-color: #b5c1dc57;
      display: none;
   } */