@charset "UTF-8";


.err
{
	color: red; 
	font-weight: bold;
	display: none;
	width: 100%;
}

#c_registration_done
{
	background-color: #3498db; 
	border-radius: 50px;
	width: 100px; 
	border: none; 
	display: inline-block;
}
#u_registration_done
{
	background-color: #3498db; 
	border-radius: 50px;
	width: 100px; 
	border: none; 
	display: inline-block;
}