@charset "UTF-8";


.err
{
	color: red; 
	font-weight: bold;
	display: none;
	width: 100%;
}

#c_registration_done
{
	background-color: #3498db; 
	border-radius: 50px;
	width: 100px; 
	border: none; 
	display: inline-block;
}
#u_registration_done
{
	background-color: #3498db; 
	border-radius: 50px;
	width: 100px; 
	border: none; 
	display: inline-block;
}

.meter {
    appearance: none;
    margin-top: 10px;
}
.meter::-webkit-progress-bar {
    background: #f0f0f0;
    border-radius: 10px;
}
.meter::-webkit-progress-value {
    border-radius: 10px;
    background: var(--c, red);
}
.meter[value]::-webkit-progress-value {
    transition: width 0.5s;
}