@charset "UTF-8";

/* main.css */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
  font-family: "Pretendard-Regular", "Open Sans", sans-serif;
}


body, p, div, span, input, table, th, td, select
{
	font-size: 18px;
	color: #343;
}

.control
{
	border: 1px solid gray;
	border-radius: 3px;
}

.table
{
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td
{
	border: 1px solid gray;
	border-left: 0px;
	border-right: 0px;
	padding: 3px;
	line-height: 150%;
}

.table th
{
	text-align: left;
	font-weight: bold;
	background-color: #EEE;
}

.btn
{
	font-weight: bold;
}

.btn:hover
{
	color: orange;
	background-color: #778877;
}

input.txt
{
   color:#51067d;
   font-weight:bold;
}

input.txt:focus
{
   background-color: #99ff99;
}

